.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
}

.movement {
  background-color: rgba(25, 39, 78, 0.5333333333);
  transition: background-color 0.5s;
}

.nav-bar {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.5rem;
  height: 10rem;
}
.nav-bar .portifolio {
  color: #fff;
  z-index: 1;
}
.nav-bar .o {
  color: #536d88;
  z-index: 1;
}
.nav-bar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-bar .nav-text {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}
.nav-bar .nav-text::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #19274e;
  transition: all 0.3s ease;
}
.nav-bar .nav-text:hover::after {
  width: 70%;
}

.language {
  ul {
    display: flex;
    gap: 5px;
    list-style: none;
    
  }
}

@media screen and (min-width: 768px) {
  .burger-menu span,
  .burger-menu input {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-bar {
    margin-left: 20px;
    margin-right: 20px;
  }
  .nav-bar .burger-menu {
    display: flex;
    flex-direction: column;
    width: 50px;
    cursor: pointer;
  }
  .nav-bar .burger-menu span {
    background: #fff;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    height: 7px;
    margin: 7px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transform-origin: 4px 0px;
  }
  .nav-bar .burger-menu span:nth-of-type(1) {
    transform-origin: 0% 0%;
  }
  .nav-bar .burger-menu span:nth-of-type(2) {
    transform-origin: 0% 100%;
  }
  .nav-bar .burger-menu input[type="checkbox"] {
    display: block;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 40px;
    height: 32px;
    z-index: 2;
  }
  .nav-bar .burger-menu input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotateZ(45deg) translate(15px, 12px);
  }
  .nav-bar .burger-menu input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotateZ(-45deg);
  }
  .nav-bar .burger-menu input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .nav-bar .burger-menu input[type="checkbox"]:checked ~ ul {
    transform: translate(-50%, 0px);
    background-color: #eac195;
    width: 100%;
  }
  .nav-bar .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: -100px 0px 0px 0px;
    padding-top: 225px;
    padding-bottom: 30px;
    transform: translate(-50%, -500px);
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    left: 50%;
    align-items: center;
  }

  .language {
    display: none;
  }
}