.about-me {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;

  .img-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    width: 30%;
    height: 50%;
    left: 0;
    border-left: 10px solid #536d88;
    border-top: 10px solid #536d88;
  }

  .about {
    color: #fff;

    .me {
      color: #536d88
    }
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 40px;
    text-align: justify;
  }
}

.skill-list-text {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 40px;
  .list {
    color: #536d88
  } 
}

.skill-text-complement {
  color: #fff;
  font-size: 1rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .about-me {
    flex-direction: column;
    .img-container img {
      width: 320px;
      margin-top: 50px;
    }
    .img-container::before {
      top: 15px;
      width: 70%;
      height: 20%;
      left: 0;
      margin-top: 50px;
    }
    .about {
      font-size: 2rem;
    }
    .me {
      font-size: 2rem;
    }
    .about-me-text {
      text-align: justify;
      margin-top: 50px;
      margin-left: 0
    }
  }
  .skills-container {
    justify-content: center;
  }
}
